# OS
.DS_Store

# IntelliJ / JetBrains
.idea/
*.iml
out/

# VS Code
.vscode/

# Java / Gradle
.gradle/
**/build/
**/out/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Node / Angular
**/node_modules/
**/dist/
**/.angular/
**/.cache/

# Env
.env
.env.*
