server:
  port: 8080

spring:
  application:
    name: workflex-backend
  config:
    import:
      - swagger.yaml
      - logging.yaml

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never